[Unit]
Description=PI Reporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/pi-reporter/pi-reporter --env prod --influxhost 192.168.128.200

[Install]
WantedBy=multi-user.target